* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #333333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
}

h1, h2, h3, h4 {
  margin: 0px;
}

ul, li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-family: var(--type-first);
  font-size: 1rem;
  color: #333333;
}
/* 1rem = 16px , container de tamanho compacto(800px) */
.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}